<header class="header">
    <div class="header-inner">
        <a href="/homepage" class="logo">
            <span class="logo-symbol">△△</span>
            <div class="logo-text">
                <strong>어딧세이</strong>
                <small>ODYSAY</small>
            </div>
        </a>

        <nav class="gnb">
            <a href="{{ url_for('homepage.trip_list') }}">여행지</a>
            <a href="{{ url_for('homepage.community') }}">커뮤니티</a>
            <a href="{{ url_for('homepage.upload') }}">여행지 등록</a>
            <a href="{{ url_for('homepage.mypage') }}">마이페이지</a>
        </nav>

        <div class="header-util">
            <button type="button" class="search-button"></button>

            {% if g.user %}
            <a class="logout-button" href="{{ url_for('auth.logout') }}">로그아웃</a>
            {% else %}
            <a class="logout-button" href="{{ url_for('homepage.homepage') }}">로그인</a>
            {% endif %}
        </div>
    </div>
</header>